.nav {
    height: 50px;
    /* padding: 10px; */
    background: radial-gradient(58.19% 10539.96% at 51.32% 0%, #811851 0%, rgba(102, 23, 66, 0.56) 95.65%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .nav span{
    font-weight:bold;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav li {
    margin: 5px 15px;
    cursor: pointer;
  }